# Created by .ignore support plugin (hsz.mobi)
*.*
!/wp-content/themes/twentysixteen/map.php
!/wp-content/themes/twentysixteen/functions.php
!/wp-content/themes/twentysixteen/js/jquery-jvectormap-2.0.3.min.js
!/wp-content/themes/twentysixteen/js/jquery-jvectormap-world-mill-en.js


